/* font-family: 'Poppins', sans-serif;
font-family: 'PT Serif', serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  padding: 71px 18px 175px;
}
main {
  max-width: 1000px;
  margin: 0 auto;
}
header {
  max-width: 1000px;
  margin: 0 auto;
}
.header__heading {
  font-size: 2.2rem;
  font-weight: 700;
  font-family: "PT Serif", serif;
  margin-bottom: 38px;
  letter-spacing: -0.045rem;
}
.header__subheading {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.header__paragraph {
  font-family: "Poppins", sans-serif;
  max-width: 35ch;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}
.card {
  position: relative;
  padding-right: 1rem;
  margin-top: 5rem;
}
.card:nth-child(1),
.card:nth-child(2) {
  margin-top: 0;
}
.card:nth-child(even) {
  transform: translateY(28px);
}
.card__img {
  width: 139px;
  height: 209px;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.name {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  line-height: 21px;
  font-weight: 600;
  margin-top: 6px;
}
.job {
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 100%;
  line-height: 1;
  width: 100%;
  font-size: 10px;
  font-family: "PT Serif", serif;
  font-weight: 400;
  transform: rotate(90deg);
  transform-origin: top left;
}
footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.made__by {
  width: 100%;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.made__by a {
  color: black;
  cursor: pointer;
}

.made__by a:focus {
  outline: dotted 2px #2680eb;
}

@media (min-width: 425px) {
  body {
    padding: 71px 2rem 175px;
  }
}

@media (min-width: 768px) {
  body {
    padding: 71px 4rem 175px;
  }
  .card__img {
    width: 238px;
    height: 341px;
  }
}
@media (min-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 5rem;
  }

  .header__paragraph {
    max-width: 40ch;
    margin-right: 3rem;
    font-size: 1.2rem;
  }

  .card {
    margin-top: 7rem;
  }
  .card:nth-child(even) {
    transform: translateY(0);
  }
  .card:nth-child(3) {
    margin-top: 0;
  }
  .card:nth-child(2),
  .card:nth-child(5) {
    transform: translateY(28px);
  }
}
